.case-data {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.case-data-profile {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  margin-right: 10px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.case-data-hospital {
  width: 350px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
}

.case-data-hospital h1, .case-data-profile h1, .case-information h1 {
  font-size: 16px;
  font-weight: 600;
  color: #272727;
  margin-bottom: 20px;
  text-decoration: underline;
  padding-bottom: 12px;
}

.case-data-hospital label, .case-data-profile label, .case-information label {
  font-size: 14px;
  color: #646464;
  margin-bottom: 0px;
}

.case-data-hospital p, .case-data-profile p, .case-information p {
  font-size: 14px;
  color: #272727;
  margin-bottom: 18px;
  font-weight: 500;
}

.case-information {
  width: 100%;
  height: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 20px;
 height: auto;
}


.case-information h5 {
  font-size: 16px;
  color: #272727;
  margin-bottom: 20px;
}


.case-data div.file-download {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-download a {
  text-decoration: none;
  color: #3d3d3d;
}

.case-data div.file-download p {
  color: #3d3d3d;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 0px;
}

.case-data p b {
  font-weight: 600;
  color: #272727;
  margin-right: 10px;
}

.case-data-separator {
  display: flex;
}

.case-data-2col {
  width: 50%;
}

.case-data-separator div {
  display: flex;
}

.case-data-separator div.case-data-2col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.case-data-separator hr {
  margin-top: 20px;
}

.case-data-response {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 100vh;
}

.case-data-response form {
  display: flex;
  flex-direction: column;
}

.case-data-response textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  min-height: 100px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  border: 1px solid #a5a5a5;
  transition: .1 ease-in-out;
}

.case-data-response-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-data-response-btns div {
  display: flex;
  align-items: center;
  color: #272727;
  padding: 8px;
  border-radius: 100px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.case-data-response-btns .sort-response-btn {
  background: none;
  color: #057a3c;
  font-weight: 600;
  margin-left: 0px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.case-data-response-btns .sort-response-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.case-data-response-btns .sort-response-btn:hover {
  background: #eee;
}

.case-data-response-btns div.attach-file-btn.disable {
  opacity: 0.5;
  pointer-events: none;
}

.case-data-response-btns div.attach-file-btn:hover {
  transition: 0.1s ease-in-out;
  background: rgb(219, 219, 219);
}

.case-data-response-btns div p {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.case-data-response form button {
  padding: 10px 15px;
  cursor: pointer;
  background: #058e46;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;
  margin-left: 10px;
  transition: 0.1s ease-in-out;
}

.case-data-response form button.disable {
  padding: 10px 15px;
  cursor: pointer;
  background: #058e46;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;
  margin-left: 10px;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
  pointer-events: none;
}

.case-data-response form button:hover {
  transition: 0.1s ease-in-out;
  background: #057a3c;
}

.case-data-response textarea:focus, .case-data-response textarea:hover {
  border: 1px solid #616161;
  background: rgb(255, 255, 255);
  outline: none;
  transition: .1s ease-in-out;
}

.response-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.response-body {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.response-body-message {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  margin-top: auto !important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

/* width */
.response-body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.response-body::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
.response-body::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 100px;
}

/* Handle on hover */
.response-body::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}

.response-body-message .avatar {
  width: 35px;
  height: 35px;
  background: #eee;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.response-body-message .avatar img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}

.response-body-message .response {
  flex: 1;
  position: relative;
  padding-right: 10px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.response-body-message .response .date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  font-weight: 400;
  color: #808080;
}

.response-body-message .response h1 {
  color: #272727;
  font-size: 14px;
  font-weight: 600;
}

.response-body-message .response h2 {
  font-size: 12px;
  font-weight: 400;
  color: #5c5c5c;
  margin-bottom: 10px;
}

.response-content-container {
  width: 100%;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
}

.response {
  background: #F0F2F5;
  border-radius: 10px;
  width: auto;
  padding: 10px;
}

.response-body-message .response p {
  font-size: 14px;
  color: #272727;
}

.response-header h1 {
  color: #272727;
  font-size: 16px;
  font-weight: 600;
}

.incoming-banner {
  width: 100%;
  height: 30px;
  background: #92e3a9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incoming-banner p {
  font-size: 14px;
  color: #272727;
}

.incoming-banner span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.download-btn {
  background: #ffffff;
  color: #058e46;
  border: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.active-btn {
  background: #058e46;
  color: #fff;
  border: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.active-btn p {
  margin: 0px;
  margin-left: 5px;
}

.deactive-btn {
  background: #058e46;
  color: #fff;
  border: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.deactive-btn:hover,
.active-btn:hover {
  background: #057a3c;
  transition: 0.1s ease-in-out;
}
.download-btn:hover {
  transition: 0.1s ease-in-out;
  background: #f3f3f3;
}

.above-patient-profile-btns button.deactive-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 5px;
}

.delete-case-modal {
  width: 95%;
  max-width: 500px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



@media screen and (max-width: 768px) {
  .case-data {
    flex-direction: column-reverse;
  }

  .case-data-hospital {
    width: 100%;
    margin-bottom: 10px;
  }

  .case-data-profile {
    width: 100%;
    margin-right: 0px;
  }

  .case-information {
    width: 100%;
  }

  .case-information .case-data-separator {
    flex-direction: column;
    width: 100%;
  }

  .case-information div.case-data-2col {
    width: 100%;
  }
}